setuptools 
wheel 
scikit-build 
cmake 
ninja
lxml
beautifulsoup4
selenium
ldap3 
numpy 
pandas 
pandas-gbq
scipy 
scikit-learn
pytest
pycryptodome
pyarrow
airflow-clickhouse-plugin 
clickhouse-connect
clickhouse-sqlalchemy 
clickhouse-driver
openpyxl
smbprotocol
